* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 10px;
  min-height: 100vh;
}

.submit {
  margin-top: 5px;
}

h2 {
  font-size: 2rem;
}

#btnAnim, #import {
  background-color: #73c3d9;
  color: black;
  margin: 3px;
}

#elemAnim {
  display: flex;
  margin-left: 18vw;
}

#personas {
margin-top: 10vh;
color: rgb(159, 172, 184);
}

table, th, td{
  border: 1px solid;
  text-align: center;
  padding: 2px;
}
tr:hover{
  background-color: rgb(39, 44, 48);
}