* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 10px;
  min-height: 100vh;
}

.submit {
  margin-top: 5px;
}

h2 {
  font-size: 2rem;
}

#btnAnim {
  background-color: #73c3d9;
  color: black;
}

#elemAnim {
  display: flex;
  margin-left: 25vw;
}
