*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
padding: 10px;
min-height: 100vh;
}

.panel {
    display: flex;
    width: 250px;
    margin: 5px;
    margin-left: 35vw;
    padding: 10px;
    padding-left: 20px;
    border: solid rgb(95, 95, 95) 2px;
    border-radius: 1rem;
}

.submit{
    margin-top: 5px;
}

h2{
    font-size: 2rem;
}